.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.package-list {
  width: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  align-items: stretch;
}

.package-list-select {
  flex-grow: 1;
  margin: 10px;
}

body {
  margin: 0px;
  font-family: sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.package-details {
  padding: 10px;
}