	body {
		font-family: sans-serif;
	}
	
	.label {
		font-size: 72px;
	}
	
	#barcode {
		font-family: "Libre Barcode 39";
		font-size: 90px;
	}
	
	#decoded {
		font-family: monospace;
		font-size: 90px;
	}
	
	.red {
		color: red;
	}
	
	.center {
		text-align: center;
	}

	.footer {
		padding: 15px;
		position: absolute;
		bottom: 0;
		margin: 0;
	}
