.CodeMirror {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 5px;
	height: auto;
	width: auto;
}

.button {
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	color: #333;
}
