.test1 {
  display: flex;
}

.item1 {
  background: hsl(0deg, 100%, 70%);
  width: 20%;
}

.item2 {
  background: hsl(30deg, 100%, 70%);
  width: 200px;
}

.item3 {
  background: hsl(210deg, 100%, 70%);
  flex-grow: 1;
}

.item4 {
  background: hsl(129deg, 100%, 70%);
  width: 200px;
}