body {
	font-family: sans-serif;
}

main {
	margin: 1em 2em 3em;
	max-width: 45em;
}

.breadcrumbs {
	font-size: 0.9em;
}

pre {
	display: inline-block;
	overflow-y: auto;
	width: 100%;
}

button {
	background: #eee;
	padding: 5px;
	border-radius: 3px;
	border: none;
	margin: 5px;
	font-family: inherit;
	font-size: 0.9em;
}

.copyright {
	margin: 1em;
}