.search-box {
  display: flex;
}

#search-label {
  margin: 14px;
  margin-right: 0;
}

#search {
  margin: 10px;
  margin-right: 5px;
  flex-grow: 1;
}

#small-icons {
  margin: 10px;
  margin-left: 5px;
}

#small-icons-checkbox {
  margin: 5px;
}

#list {
  display: flex;
  flex-flow: row wrap;
}

.icon-display {
  margin: 10px;
}

.icon-preview {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.icon-preview.large {
  width: 40px;
}

.icon-preview.small {
  width: 32px;
}

#snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
  background: #ddd;
  transition: opacity 1s ease;
}

#snackbar.visible {
  opacity: 1;
  transition: opacity 0s ease;
}

#home-link {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: white;
}