body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

/*
.header {
  font-size: 24px;
  background: hsl(215deg, 100%, 70%);
  padding: 20px;
  color: white;
}
*/

.content {
  margin: 20px;
}