extends /layout.pug

block title
  - var title = "Test"

block head
  script(src="/js/rejsx.js")

block content
  script(src="test.jsx")
  script(src="test.ts")
  script(src="test.tsx")
  script(src="test.coffee")
