//- pug

extends /layout.pug

block title
  - var title = "Torque Testing Tool"

block content
  :markdown-it
    This webpage is an online manual for the Torque Tesing Tool you may have
    seen in the HSMS shop.

    The tool was designed to be used to test the torque required to run a
    mechanism of any sort. Just put the tool on the axle where a motor would be
    then press on the screw head located at the other end of the device. If the
    force required to push the bar is greater than 1.86&nbsp;lbs (1.35&nbsp;lbs
    for old motors) then the motor won't have enough force.
    
    You can also use a spring scale to measure more precisely how much torque is
    required by hooking it onto the hole directly opposite the screw then
    pulling.

    The tool is ten inches from the axel point to the screw point. This makes
    calculating the torque easier because it is just the force at the screw in
    pounds times ten.