include /pushes.pug

doctype html
html
	head
		meta(charset="UTF-8")
		title Barcode Game
		link(rel="icon", href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAALUlEQVQ4jWP4//8/w////xkYGBj+o7MZGBj+42LD1DIxUAhGDRg1YNSAwWIAALDdIf1mavZhAAAAAElFTkSuQmCC")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Barcode+39")
		+push_stylesheet("/css/barcode.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		+push_script("/js/rejsx.js")
	body
		span.label Random Barcode:
		div#barcode.center
		span.new-button.center New Barcode
		br
		span.label Decoded Barcode:
		br
		span.show-button.toggle-button Show
		span.hide-button.toggle-button Hide
		div#decoded.center
		+push_script("/js/barcode.jsx")


