//- pug

extends /layout.pug

block title
	- var title = "Games"

block content
	:markdown-it
		## Silly webpages and games
		- [Barcode game](barcode)
		- [Guess the number game](guess)
		- [Trivia](trivia)
