//- pug

extends /layout.pug

block title
  - var title = "About Me"

block content
  :markdown-it
    My name is Graham Scheaffer. I am a high school student at Harrisburg High
    School. I enjoy programming computers and using linux. I also like playing
    games on my PC. You can see my setup [here](https://pcpartpicker.com/user/pythondude325/saved/R3ZQZL).
    
    I compete on the school robotics team, Tiger Robotics. My team is [7686C](https://vexdb.io/teams/view/7686C).
    We compete in the [VEX EDR league](https://www.vexrobotics.com/vexedr/competition/vrc-current-game).
    
    [I also like playing this game called Nethack](https://alt.org/nethack/plr.php?player=pythondude325).
