//- pug

doctype html
html
  head
    include includes/analytics.pug
    title Befunge98 Prime Finder
    include includes/head.pug
    link(rel="stylesheet", href="/css/home.css")
  body
    :markdown-it
      ## Befunge 98 prime finder
      This program is probably one of the silliest programs that I have worked
      the hardest on. It has a fairly simple output. It spits out prime numbers
      until stoped by the user. Unfortunatly it is not so simple in the code.

      The program contains three main sections: initialization, in green, the
      first loop, highlighted in red, and the second loop, highlighed in blue.

      ```
      >2vvp00+1g00<p3\,*25.<
      v0<$ v   +1_^#%g3\ < :
      >0p>0>::00g\3g48*-#^_^
      ```