extends /layout.pug

block title
  - var title = "Apache Icon Search"

block head
  script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js")
  +push_stylesheet("/css/icons.css")

block content
  #app
    .search-box
      label#search-label
        | Search:
      input#search(type="text" v-model="filter" autocorrect="off" autocapitalize="none")

      label#small-icons
        input#small-icons-checkbox(type="checkbox" v-model="small_icons")
        | Small
    #list()
      .icon(v-for="icon in icons")
        icon-display(:icon-name="icon", :icon-size="small_icons?'small':'large'")
    #snackbar
      | Copied URL to clipboard.
  +push_script("/js/icons.coffee")
