extends /layout.pug

block title
	- var title = "Graham's Website"

block head
	meta(name="Description", content="My personal website with source code and personal interests.")

block content
	:markdown-it
		## My code
		All my code can be found at my [Gitlab](https://gitlab.com/pythondude325)

		## My pages
		- [Programming related webpages](programming)
		- [Robotics related webpages](robotics)
		- [Games I've made](games)
		- [Space related webpages](space)
		- [Apache Icons Browser](/icons)
		- [Printer test page](/printer_test)
		- [Torque Testing Tool](/torque)
		- [Strange hypothetical number systems](/numbers)
		- [Mandelbrot viewer](https://mandelbrot.gisch.tk/)
		- [Screen tearing test](screen-tearing-test)

		### New
		- [Shaders](shaders)
		- [s.gisch.tk](https://s.gisch.tk) - My URL shortener, produces short, memorable urls.

		### Other
		- [About Me](/about)
		- [Sitemap](/sitemap.txt)
