//- pug

extends /layout.pug

block title
	- var title = "Strange hypothetical number systems"

block head
	include /math.pug

block content
	:markdown-it(linkify html)
		You can describe one-dimensional space with a one-dimensional number system,
		we call this the real numbers. You can describe rotations in two-dimensional
		space using a two-dimensional number system we call the complex numbers.
		Mathematicians searched for a number system that could accurately describe
		rotations in three-dimensional space, but they could not find one. In 1843
		mathematician Sir William Rowan Howard figured out you needed four
		dimensions of numbers to describe rotations in three dimensional space. He
		called the new system Quaternions. Others figured out that you need
		2<sup>n - 1</sup> dimensional numbers to describe rotations in n-dimensional
		space. The system for rotations in 4-dimensional space was called Octonions.
		For 5-dimensions you need to use Sedenions. My latin isn't very good but as
		far as I can tell the system uses the distributive numerical latin prefix,
		quatern- for 4, octon- for 8, and seden- for 16. Extrapolating this provides
		me with Duotricenions for rotations in 6-dimensional space,
		Quattuorsexagenions for 7-dimensions, and Octoviginticenions for
		8-dimensional space. Perhaps even Sequinquagintiducenions for 9-dimensions.
		But I'm just having fun with latin now.
		
		Further reading:
		- https://en.wikipedia.org/wiki/History_of_quaternions
		- https://en.wikipedia.org/wiki/Numeral_prefix
