//- pug

extends /layout.pug

block title
	- var title = "Robotics"

block content
	:markdown-it
		## Robotics related pages
		- [Torque-speed calculations with Vex 393 motors](vex-motors)
		- [GoPro Footage from the US Open Robotics Championship **(BROKEN)**](gopro)
		- [GoPro Footage form the 17/11/2018 Harrisburg Robotics Tournament](gopro20181117)
		- [Robot Scout](robots)

