extends /layout.pug

block title
  - var title = "Encoder Test"

block head
  script(src="https://cdn.jsdelivr.net/npm/lodash/lodash.min.js")
  style.
    p {
      margin: 6em 0 6em;  
      font-family: monospace;
      font-size: 12pt;
    }

block content
  #output
  script(src="/js/encoder.js")