//- pug

extends /layout.pug

block title
	- var title = "HSV to RGB Algorithm"
	
block content
	:markdown-it
		I came up with an [HSV](https://en.wikipedia.org/wiki/HSL_and_HSV) to
		[RGB](https://en.wikipedia.org/wiki/RGB_color_model) algorithm. It's
		probably not unique but it is mine. I came up with it while makeing a C
		program to print to terminal in full color.

		It uses a couple diffrent functions. The first is a function to clamp an
		`double` to a `double` with values ranging from 1.0 to 0.0.

		```c
		  double clamp_double(double n){
		    n = (n > 1.0) ? 1.0 : n;
		    n = (n < 0.0) ? 0.0 : n;
		    return n;
		  }
		```

		The second calculates the value for a color chanmel based on hue.

		```c
		  double calc_hue(double h){
		    return clamp(-6 * fabs(ONE_THIRD - fmod(h, 1)) + 2);
		  }
		```

		The third calculates the final color value for a chanmel with hue and
		saturation.

		```c
		  double calc_sv(double i, double s, double v){
		    return s * v * (i - 1.0) + v;
		  }
		```

		Finally, it's all put together:

		```c
		  void set_hsv_color(Color *c, double h, double s, double v){
		    double r, g, b;
		    r = calc_sv(calc_hue(h + ONE_THIRD), s, v);
		    g = calc_sv(calc_hue(h), s, v);
		    b = calc_sv(calc_hue(h - ONE_THIRD), s, v);
		    set_rgb_color(c, r, g, b);
		  }
		```

		In the final function the input to the function `calc_hue` is offset for
		each color channel because the math in `calc_hue` works out best for green
		but will work just fine for red and blue if shifted.

		The full code can be found [here](https://gitlab.com/pythondude325/libtermcolor).
