//- pug

extends /layout.pug

block title
	- var title = "Programming"

block content
	:markdown-it
		## Programming related pages
		- [HSV Color Algorithm](hsv)
		- [Infinite Prime Numbers](infinite-primes)
		- [My Frequently used JS Libraries](libs)
		- [Localstorage Demo](localstorage)
		- [CSS Grid Demo](grid)
		- [Online Lexica Botania](web-lexicon)
		- [3D CSS Load](3d-css)
		- [SSE Test](sse-test)
		- [Flexbox test](flex)

		### My NPM Modules
		- [rejsx](https://www.npmjs.com/package/rejsx) - for use with jsx in the browser

		### Other programming related pages I didn't make
		- [Google Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool) - A tool to test structured data on websites
		- [Devdocs.io](https://devdocs.io/) - A collection of documentation
		- [jsDelivr](https://www.jsdelivr.com/) - My Primary CDN


