extend /layout.pug

block title
  - var title = "Infinite Prime Numbers"

block head
  +push_script("/js/rejsx.js")
  style.
    #nav {
      position: fixed;
      top: 0;
      right: 0;
      padding: 10px;
      margin-right: 10px;
    }

block content
  #nav
    a(href="#top") Top
  #prime-container
  +push_script("/js/infinite-primes.coffee")
