//- pug

extends /layout.pug

block title
	- var title = "My Frequently Used Libraries"

block content
	:markdown-it
		These are some JavaScript libraries I use frequently
		- [jQuery](https://cdn.jsdelivr.net/npm/jquery) ([Docs](https://api.jquery.com/))
		- [Lodash](https://cdn.jsdelivr.net/npm/lodash/lodash.min.js) ([Docs](https://lodash.com/docs))
		- [Vue](https://cdn.jsdelivr.net/npm/vue/dist/vue.js) ([Docs](https://vuejs.org/v2/guide/))
		- [Babel Standalone](https://cdn.jsdelivr.net/npm/@babel/standalone@7.1.0/babel.min.js) ([Docs](https://babeljs.io/docs/en/next/babel-standalone.html))
		- [React createElement Polyfill](https://glcdn.githack.com/pythondude325/react-createelement-polyfill/raw/master/main.js) ([Docs](https://gitlab.com/pythondude325/react-createelement-polyfill/blob/master/README.md))
		- [Mithril](https://cdn.jsdelivr.net/npm/mithril/mithril.min.js) ([Docs](https://mithril.js.org/))
