//- pug

extends /layout.pug

block title
    - var title = "Local Storage Demo"

block head
    script(src="https://cdn.jsdelivr.net/npm/jquery")
    script(defer src="/js/localstorage.js")
    - push("/js/localstorage.js", "script")

block content
    div: button(onclick="loadFromStorage()") Load
    div: button(onclick="saveToStorage()") Save
    div: button(onclick="deleteStorage()") Delete
    div: input#input(type="text")
    p
        | Status: 
        span#status_label Page Loaded