//- pug

doctype html
html
  head
    title ALPM GUI mockup
    link(rel="stylesheet" type="text/css" href="/css/alpm_gui.css")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="/js/alpm_gui.js" type="module")
  body
    .app-container#app
      .package-list
        span.package-list-label Packages:
        select(multiple).package-list-select
        select(name="sort-order").package-list-order-select
          option(value="alphabetical") A-Z
          option(value="reverse alphabetical") Z-A
          option(value="install date") Install date
      .package-details
        span Package details:
        .package-details-grid
          .package-details-pane1
            span Name: {{cur_pkg.name}}
            br
            span Verson: {{cur_pkg.version}}
            br
            span Description: {{cur_pkg.version}}
            br
            span URL: <a href="{{cur_pkg.url}}">{{cur_pkg.url}}</a>
            br
          .package-details-pane2
          .package-details-pane3
          .package-details-pane4