<html>
  <head>
    <title>Online plan reader</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/svg.js"></script>
    <script defer src="main.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="icon" type="image/png" href="/images/icons/small/text.png"/>
    <script src="/js/viewport.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="blank-tab" :style="{display: plans.length != 0 ? 'none' : 'block'}">
        <perfect-middle style="text-align: center;">
          <p>Drag a plan over the webpage or select a plan to begin.</p>
          <input type="file" multiple accept=".xml, .sqlplan" id="file-input">
        </perfect-middle>
      </div>
      <div class="tab-bar">
        <div v-for="(plan, i) in plans"
          :class="['tab', active_tab == i ? 'tab-active' : 'tab-inactive']" 
          @click="active_tab = i"
        > {{ plan.name }} </div>
      </div>
      <div class="content">
        <div v-for="(plan, i) in plans"
          :style="{display: active_tab == i ? 'block' : 'none'}">
          <div :id="'drawing-' + i.toString()"></div>
        </div>
      </div>


    </div>
  </body>
</html>