extend /layout.pug

block title
	- var title = "Shaders"

block content
	:markdown-it
		## Shaders
		This is a list of some cool shaders I have made/modified
		- [Ring](ring)
		- [Clouds](clouds)
		- [Julia Set](julia_set)

		I can turn these shaders into screen savers for MacOS. I also take requests for new shaders.
		Email me at [gischeaffer@gmail.com](mailto:gischeaffer@gmail.com) for more information.
