<html>
  <head>
    <title>Web Calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/haptics"></script>
    <script src="index.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="manifest" href="manifest.json">
    <script src="/js/viewport.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="display">
        {{ display_value }}
      </div>
      <div class="keypad">
        <calc-button label="&plusmn;" func="switch_sign" pos="7/2"></calc-button>
        <calc-button label="0" func="append_zero" pos="7/3"></calc-button>
        <calc-button label="1" func="append_one" pos="6/2"></calc-button>
        <calc-button label="2" func="append_two" pos="6/3"></calc-button>
        <calc-button label="3" func="append_three" pos="6/4"></calc-button>
        <calc-button label="4" func="append_four" pos="5/2"></calc-button>
        <calc-button label="5" func="append_five" pos="5/3"></calc-button>
        <calc-button label="6" func="append_six" pos="5/4"></calc-button>
        <calc-button label="7" func="append_seven" pos="4/2"></calc-button>
        <calc-button label="8" func="append_eight" pos="4/3"></calc-button>
        <calc-button label="9" func="append_nine" pos="4/4"></calc-button>
        <calc-button label="." func="append_decimal" pos="7/4"></calc-button>
        <calc-button label="+" func="operation_add" pos="6/5"></calc-button>
        <calc-button label="&minus;" func="operation_subtract" pos="5/5"></calc-button>
        <calc-button label="&times;" func="operation_multiply" pos="4/5"></calc-button>
        <calc-button label="&divide;" func="operation_divide" pos="3/5"></calc-button>
        <calc-button label="&radic;" func="operation_sqrt" pos="3/4"></calc-button>
        <calc-button label="&pi;" func="input_pi" pos="3/3"></calc-button>
        <calc-button label="x&#xb2;" func="operation_square" pos="3/2"></calc-button>
        <calc-button label="sin" func="operation_sin" pos="2/2"></calc-button>
        <calc-button label="cos" func="operation_cos" pos="2/3"></calc-button>
        <calc-button label="tan" func="operation_tan" pos="2/4"></calc-button>
        <calc-button label="ENT" func="operation_equals" pos="7/5"></calc-button>
        <calc-button label="C" func="clear" pos="1/4"></calc-button>
        <calc-button label="AC" func="all_clear" pos="1/5"></calc-button>
        <calc-button label="&#x232b;" func="backspace" pos="2/5"></calc-butotn>
      </div>
      I: {{ input }}<br/>
      S: {{ stack.join(",") }}
    </div>
  </body>
</html>