@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  background: #222;
}


.display {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  text-align: right;
  background: #fff;
}

.keypad {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.button-container {
  display: inline-block;
  padding: 5px;
  background: #111;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  /*width: 5em;
  height: 2em;*/
}

