extends /layout.pug

block title
  - var title = "Screen tearing test"

block head
  +push_stylesheet("style.css")

block content
  button#start Click here to start
  p Click anywhere else to stop
  canvas#canvas.fullscreen
  +push_script("test.js")