.control-container {
  margin-bottom: 0.5em;
}

.video-select {
  margin-right: 1em;
}

.video {
  background: #333;
  width: 90vw;
  height: 50.625vw;
}

@media screen and (min-width: 1020px){
  .video {
    height:540px;
    width: 960px;
  }
}
