extends /layout.pug

block title
  - var title = "Gopro footage from 2018/11/17"

block head
  script(src="/js/rejsx.js")
  - push("/js/rejsx.js", "script")
  link(rel="stylesheet" href="gopro.css" type="text/css")
  - push("gopro.css", "style")

block content
  #output
  +push_script("gopro.jsx")
  

