//- pug

extends /layout.pug

block title
  - var title = "Munchkin Card Maker"

block head
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
  link(rel="stylesheet", type="text/css", href="style.css")

block content
  .card.perfect-middle.card-treasure
    .inner-card
      .card-header
        center.card-title Friendship Potion
      .card-body
        p.card-text
          | Play during any combat. Discard all monsters in the combat. No
          | Treasure is gained, but the player may Loot The Room. Usable once only.
      .card-footer
        .card-footer-left
        .card-footer-right
          .card-bottom-text 200 Gold Pieces
  br
  .card.perfect-middle.card-door
    .inner-card
      .card-header
        center.card-super-title Level 2
        center.card-title Pit Bull
      .card-body
        p.card-text
          | Something something something.
      .card-footer
        .card-footer-left
        .card-footer-right 


