
/* Header font */
@font-face {
  font-family: "Quasimodo Regular";
  src: url("fonts/Quasimodo Regular.woff") format("woff");
}

/* Body font */
/* Slim: @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700,700i'); */
/* @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i'); */

@font-face {
  font-family: "Caslon Antique";
  src: url("fonts/CaslonAntique.woff") format("woff");
}

@font-face {
  font-family: "Caslon Antique";
  src: url("fonts/CaslonAntique-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Caslon Antique";
  src: url("fonts/CaslonAntique-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Caslon Antique";
  src: url("fonts/CaslonAntique-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

:root {
  --display-density: 2;
}

.card {
  background: #481813;
  height: calc(calc(3in + 13in/32)*var(--display-density));
  width: calc(calc(2in + 3in/16)*var(--display-density));
  border-radius: calc(calc(3in/16)*var(--display-density));
}

.inner-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  height: calc(100% - calc(3in/16)*var(--display-density));
  width: calc(100% - calc(3in/16)*var(--display-density));
  border-radius: calc(calc(3in / 16)*var(--display-density));
  padding: calc(calc(1in / 8)*var(--display-density));
  padding-bottom: calc(calc(1in / 16)*var(--display-density));
}

.card-header {
  flex-grow: 0;
}

.card-body {
  flex-grow: 1;
}

.card-footer {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.card-footer-left {
  flex-grow: 1;
  flex-basis: 0;
}

.card-footer-center {
  flex-grow: 0;
}

.card-footer-right {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
}



.card-treasure > .inner-card {
  background: #FAC98F;
}

.card-door > .inner-card {
  background: #FFF3E5;
}

.card-super-title {
  font-family: "Quasimodo Regular";
  font-size: calc(calc(4in / 32)*var(--display-density));
  text-align: center;
}

.card-title {
  font-family: "Quasimodo Regular";
  font-size: calc(calc(5in / 32)*var(--display-density));
  text-align: center;
}

.card-text {
  text-indent: 1em;
  font-family: "Caslon Antique";
  font-size: calc(calc(4in / 32)*var(--display-density));
}

.card-bottom-text {
  font-family: "Caslon Antique";
  font-size: calc(calc(4in / 32)*var(--display-density));
  font-weight: bold;
}




.perfect-middle {
  display:flex;
  align-items:center;
  justify-content:space-around;
}

* {
  box-sizing: border-box;
}