mixin copyright(year, name, license, licenseURL, sourceURL) 
  | Copyright &copy; 
  span(property="copyrightYear")= year
  | 
  span(property="copyrightHolder" typeof="person")
    span(property="name")= name
  |  - 
  a(href=licenseURL property="license")= license
  |  - 
  a(href=sourceURL) Source