include /pushes.pug
include /copyright.pug

block title

doctype html
html(lang="en" id="top")
	head
		//- include /analytics.pug
		block head
		title #{title} - gisch.tk
		meta(name="viewport", content="width=device-width,initial-scale=1")
		+push_stylesheet("/css/home.sass")
		link(rel="icon", type="image/png", href="/images/icons/small/folder.png")
		- push("/images/icons/small/folder.png", "image")
	body.ma3.helvetica(vocab="http://schema.org/" typeof="WebPage")
		header.f1.b.mv3(property="headline") #{title}
		nav.f6(property="breadcrumb" typeof="BreadcrumbList")
			mixin breadcrumb_item(href, text, position)
				span(property="itemListElement" typeof="ListItem")
					if href
						a(property="item" typeof="WebPage" href="https://gisch.tk"+href)
							span(property="name")= text
					else
						span(property="item" typeof="WebPage")
							span(property="name")= text
					meta(property="position" content=position)
			
			+breadcrumb_item("/", "Home", 1)
			each p, index in path
				-
					var part_url = "/" + path.slice(0, index + 1).join("/")
					p = p.charAt(0).toUpperCase() + p.slice(1)
					var breadcrumb_text = index == path.length - 1 ? title : p
				span #{" › "}
				+breadcrumb_item(part_url, breadcrumb_text, index + 2)
		main.mh4.mv3.mw7.lh-copy
			block content
		footer.mt4.mb3
			+copyright("2018", "Graham Scheaffer", "MIT License", "/LICENSE.txt", "https://gitlab.com/pythondude325/personal_website")
				

